

:root,
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #4C191B !important;
  --md-primary-fg-color--light: #6A2DAF !important;
  --md-primary-fg-color--dark: #2E0057 !important;
}

.md-content h1:first-of-type {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #6D3B47;
  text-align: center;
  text-decoration: underline;
  border: none;
  padding: 10px;
  font-weight: bold;
}


.md-content h1:not(:first-of-type) {
  font-family: 'Playfair Display', serif;
  color: #214E34;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
  padding: 4px 8px;
}

.md-content h2,
.md-content h3 {
  font-weight: bold;
  text-decoration: underline;
  color: #1B264F;
  text-align: left;  
}


.md-content h4 {
  font-weight: bold;
  color: #1B264F;
  text-align: left; 
  text-decoration: underline;  
}

.md-content ul,
.md-content ol {
  list-style-type: none;
  padding-left: 0;
}

.md-content ul li,
.md-content ol li {
  border-left: 3px solid #4C191B;
  padding-left: 10px;
  margin-bottom: 12px;
  background-color: #FFFFFF;
  border-radius: 0 4px 4px 0;
}

.md-content ul li::marker,
.md-content ol li::marker {
  color: #4C191B;
  font-weight: bold;
}
